.main-layout-shell {
  display: flex;
  height: 100%;

  img {
    display: block;
    width: size(---size-40);
    height: size(--size-40);
    padding-top: var(--size-24);
    padding-bottom: var(--size-16);
    margin: auto;
  }

  .content {
    width: 100%;
    padding: var(--size-8);
    background-color: var(--blue-50);
  }

  .aside-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
    border-right: var(--border-default);

    .main-nav {
      display: flex;
      flex-direction: column;
      gap: var(--size-8);
      padding: var(--size-8);
      border-top: var(--border-default);
    }
  }
}
