@use '../../../../styles/utilities/typography';

:host {
  --btn-primary-bg: var(--blue-700);
  --btn-primary-bg-hover: var(--blue-690);
  --btn-primary-bg-active: var(--blue-690);
  --btn-primary-fg: var(--white);
  --btn-primary-border: transparent;

  --btn-secondary-bg: transparent;
  --btn-secondary-bg-hover: transparent;
  --btn-secondary-bg-active: transparent;
  --btn-secondary-fg: var(--grey-800);
  --btn-secondary-border: var(--grey-800);

  --btn-tertiary-bg: transparent;
  --btn-tertiary-bg-hover: transparent;
  --btn-tertiary-bg-active: transparent;
  --btn-tertiary-fg: var(--blue-690);
  --btn-tertiary-border: transparent;

  --btn-icon-bg: transparent;
  --btn-icon-bg-hover: var(--blue-100);
  --btn-icon-bg-active: var(--blue-100);
  --btn-icon-fg: var(--black);
  --btn-icon-border: transparent;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: var(--border-default);
  border-radius: var(--size-4);
  padding: var(--size-12) var(--size-16);
  cursor: pointer;
  background: none;
  @extend .label-button-large;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--primary {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-fg);
  border-color: var(--btn-primary-border);

  &:hover:not(:disabled) {
    background: var(--btn-primary-bg-hover);
  }

  &:active:not(:disabled) {
    background: var(--btn-primary-bg-active);
    transform: translateY(1px);
  }
}

.btn--secondary {
  background: var(--btn-secondary-bg);
  color: var(--btn-secondary-fg);
  border-color: var(--btn-secondary-border);

  &:hover:not(:disabled) {
    background: var(--btn-secondary-bg-hover);
  }

  &:active:not(:disabled) {
    background: var(--btn-secondary-bg-active);
    transform: translateY(1px);
  }
}

.btn--tertiary {
  background: var(--btn-tertiary-bg);
  color: var(--btn-tertiary-fg);
  border: none;
}

.btn--icon {
  width: var(--default-icon-button-size);
  height: var(--default-icon-button-size);
  padding: 0;
  border-radius: var(--size-8);
  background: var(--btn-icon-bg);
  color: var(--btn-icon-fg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;

  &:hover:not(:disabled) {
    background: var(--btn-icon-bg-hover);
  }

  &:active:not(:disabled) {
    background: var(--btn-icon-bg-active);
    transform: scale(0.96);
  }

  .material-icons {
    font-size: var(--default-icon-size);
    color: currentColor;
    transition: transform 0.1s ease;
  }
}
