@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/RobotoFlex-Variable.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/RobotoFlex-Variable.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}
